<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span6">

        <div>
          {{#each post in controller.paginatedContent}}
            <h3>{{#linkTo 'posts.selectedPost' post}}{{post.title}}{{/linkTo}}</h3>

            <p>{{post.summary}}</p>
          {{/each}}
        </div>

        <div class="pagination pagination-centered">
          <!--
             contentBinding maps to App.PostController.prevPage in PaginationMixin
          -->
          <ul>
            <li
              {{bindAttr class="controller.disablePrev:disabled"}}>{{#linkTo 'posts.selectedPage' prevPage
            target="controller"}}&laquo;{{/linkTo}}</li>
            {{#each pages}}

              {{view App.PaginationView contentBinding="this" selectedPageBinding="controller.currentPage"}}

            {{/each}}
            <li
              {{bindAttr class="controller.disableNext:disabled"}}>{{#linkTo 'posts.selectedPage' nextPage
            target="controller"}}&raquo;{{/linkTo}}</li>
          </ul>
        </div>

      </div>
      <div class="span6">
        <!-- Present the output from the post selection -->
        {{outlet}}
      </div>
    </div>
  </div>
</div>